<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,320}</string>
                <key>spriteSourceSize</key>
                <string>{1000,320}</string>
                <key>textureRect</key>
                <string>{{0,0},{1000,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,351}</string>
                <key>spriteSourceSize</key>
                <string>{1000,351}</string>
                <key>textureRect</key>
                <string>{{0,320},{1000,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blood.png</string>
            <key>size</key>
            <string>{1000,671}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cbc025565568f174efad434f7dd38a8:778df6ff4acd9e069edca8c7b96234d6:ab4055c138d270fe3287eabd35406899$</string>
            <key>textureFileName</key>
            <string>blood.png</string>
        </dict>
    </dict>
</plist>
