<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,6}</string>
                <key>spriteSourceSize</key>
                <string>{29,6}</string>
                <key>textureRect</key>
                <string>{{0,0},{29,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,13}</string>
                <key>spriteSourceSize</key>
                <string>{52,13}</string>
                <key>textureRect</key>
                <string>{{29,0},{52,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{81,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{209,0},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,17}</string>
                <key>spriteSourceSize</key>
                <string>{64,17}</string>
                <key>textureRect</key>
                <string>{{269,0},{64,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,17}</string>
                <key>spriteSourceSize</key>
                <string>{490,17}</string>
                <key>textureRect</key>
                <string>{{0,128},{490,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bullet.png</string>
            <key>size</key>
            <string>{490,145}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2e6cadcd8ada3250833c9c9c5f9ea0a:c6527fdadc87b6a3b2ef10c6836f3b2c:2afb0b8dfa048ea2bbd02e313d2c7964$</string>
            <key>textureFileName</key>
            <string>bullet.png</string>
        </dict>
    </dict>
</plist>
