<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dieborn (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,179}</string>
                <key>spriteSourceSize</key>
                <string>{175,179}</string>
                <key>textureRect</key>
                <string>{{350,300},{175,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieborn (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,179}</string>
                <key>spriteSourceSize</key>
                <string>{175,179}</string>
                <key>textureRect</key>
                <string>{{0,479},{175,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieborn (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,179}</string>
                <key>spriteSourceSize</key>
                <string>{175,179}</string>
                <key>textureRect</key>
                <string>{{350,479},{175,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieborn (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,179}</string>
                <key>spriteSourceSize</key>
                <string>{175,179}</string>
                <key>textureRect</key>
                <string>{{175,479},{175,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieborn (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,179}</string>
                <key>spriteSourceSize</key>
                <string>{175,179}</string>
                <key>textureRect</key>
                <string>{{700,300},{175,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieborn (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,179}</string>
                <key>spriteSourceSize</key>
                <string>{175,179}</string>
                <key>textureRect</key>
                <string>{{525,300},{175,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieborn (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,179}</string>
                <key>spriteSourceSize</key>
                <string>{175,179}</string>
                <key>textureRect</key>
                <string>{{175,300},{175,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieborn (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,179}</string>
                <key>spriteSourceSize</key>
                <string>{175,179}</string>
                <key>textureRect</key>
                <string>{{0,300},{175,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieborn (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,179}</string>
                <key>spriteSourceSize</key>
                <string>{175,179}</string>
                <key>textureRect</key>
                <string>{{525,479},{175,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieborn (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,179}</string>
                <key>spriteSourceSize</key>
                <string>{175,179}</string>
                <key>textureRect</key>
                <string>{{700,479},{175,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieborn (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,179}</string>
                <key>spriteSourceSize</key>
                <string>{175,179}</string>
                <key>textureRect</key>
                <string>{{0,837},{175,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieborn (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,179}</string>
                <key>spriteSourceSize</key>
                <string>{175,179}</string>
                <key>textureRect</key>
                <string>{{350,837},{175,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieborn (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,179}</string>
                <key>spriteSourceSize</key>
                <string>{175,179}</string>
                <key>textureRect</key>
                <string>{{175,837},{175,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieborn (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,179}</string>
                <key>spriteSourceSize</key>
                <string>{175,179}</string>
                <key>textureRect</key>
                <string>{{700,658},{175,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieborn (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,179}</string>
                <key>spriteSourceSize</key>
                <string>{175,179}</string>
                <key>textureRect</key>
                <string>{{525,658},{175,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieborn (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,179}</string>
                <key>spriteSourceSize</key>
                <string>{175,179}</string>
                <key>textureRect</key>
                <string>{{0,658},{175,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieborn (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,179}</string>
                <key>spriteSourceSize</key>
                <string>{175,179}</string>
                <key>textureRect</key>
                <string>{{350,658},{175,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieborn (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,179}</string>
                <key>spriteSourceSize</key>
                <string>{175,179}</string>
                <key>textureRect</key>
                <string>{{175,658},{175,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieborn (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,179}</string>
                <key>spriteSourceSize</key>
                <string>{175,179}</string>
                <key>textureRect</key>
                <string>{{634,121},{175,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieborn (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,179}</string>
                <key>spriteSourceSize</key>
                <string>{175,179}</string>
                <key>textureRect</key>
                <string>{{459,121},{175,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieborn (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,179}</string>
                <key>spriteSourceSize</key>
                <string>{175,179}</string>
                <key>textureRect</key>
                <string>{{284,121},{175,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,121}</string>
                <key>spriteSourceSize</key>
                <string>{71,121}</string>
                <key>textureRect</key>
                <string>{{355,0},{71,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,121}</string>
                <key>spriteSourceSize</key>
                <string>{71,121}</string>
                <key>textureRect</key>
                <string>{{284,0},{71,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,121}</string>
                <key>spriteSourceSize</key>
                <string>{71,121}</string>
                <key>textureRect</key>
                <string>{{426,0},{71,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,121}</string>
                <key>spriteSourceSize</key>
                <string>{71,121}</string>
                <key>textureRect</key>
                <string>{{213,0},{71,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelup (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,121}</string>
                <key>spriteSourceSize</key>
                <string>{71,121}</string>
                <key>textureRect</key>
                <string>{{71,0},{71,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelup (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,121}</string>
                <key>spriteSourceSize</key>
                <string>{71,121}</string>
                <key>textureRect</key>
                <string>{{0,0},{71,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelup (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,121}</string>
                <key>spriteSourceSize</key>
                <string>{71,121}</string>
                <key>textureRect</key>
                <string>{{497,0},{71,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelup (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,121}</string>
                <key>spriteSourceSize</key>
                <string>{71,121}</string>
                <key>textureRect</key>
                <string>{{142,0},{71,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,121}</string>
                <key>spriteSourceSize</key>
                <string>{71,121}</string>
                <key>textureRect</key>
                <string>{{639,0},{71,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,121}</string>
                <key>spriteSourceSize</key>
                <string>{71,121}</string>
                <key>textureRect</key>
                <string>{{142,121},{71,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,121}</string>
                <key>spriteSourceSize</key>
                <string>{71,121}</string>
                <key>textureRect</key>
                <string>{{213,121},{71,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,121}</string>
                <key>spriteSourceSize</key>
                <string>{71,121}</string>
                <key>textureRect</key>
                <string>{{71,121},{71,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,121}</string>
                <key>spriteSourceSize</key>
                <string>{71,121}</string>
                <key>textureRect</key>
                <string>{{568,0},{71,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,121}</string>
                <key>spriteSourceSize</key>
                <string>{71,121}</string>
                <key>textureRect</key>
                <string>{{0,121},{71,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,121}</string>
                <key>spriteSourceSize</key>
                <string>{71,121}</string>
                <key>textureRect</key>
                <string>{{781,0},{71,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,121}</string>
                <key>spriteSourceSize</key>
                <string>{71,121}</string>
                <key>textureRect</key>
                <string>{{710,0},{71,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effects.png</string>
            <key>size</key>
            <string>{875,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2488d346ebbb4ff27b5ad4ba89db23cf:fa9c268e4dce4a6d9d24d3680227f58f:ed94ff99ccfdc1a5d4b266f4603472f0$</string>
            <key>textureFileName</key>
            <string>effects.png</string>
        </dict>
    </dict>
</plist>
